body {
    font-family: Arial, Helvetica, sans-serif;
}

.text {
    width: 300px;
    border: 2px brown;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text:hover {
    text-align: center;
}